body {
    margin: 0;
    padding: 0;
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*text-align: center;*/
    /*border: 2px solid red;*/
}
.div {
    width: 80%;
    margin: 1% auto;
}
.menu {
    /*height: 2%;*/
    width: 100%;
    margin: 1% auto;
    padding: 0;
    font-size: 15px;
    /*border: 2px solid red;*/
    text-align: center;
}
.menu ul {
    border-radius: 5px;
    background-color: #a3d2a3;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    list-style-type: none;
}

.menu li {
    /*background-color: #a3d2a3;*/
    border-radius: 5px;
    color: black;
    display: inline-block;
    padding: 10px 5px;
    margin: 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.menu li:hover, .selected {
    color: white;
    background: black;
}

.menu a, .menu a:visited {
    text-decoration: none;
}
.platform {
    /*height: 2%;*/
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    /*border: 2px solid red;*/
    text-align: center;
}
.platform input {
    border-radius: 5px;
    background-color: #a3d2a3;
    margin: 0;
    padding: 10px;
    height: 100%;
    /*width: 50%;*/
    list-style-type: none;
    cursor:pointer;
    border: 0;
}

.platform input:hover {
    color: white;
    background: black;
}

.platform input:visited {
    /*text-decoration: none;*/
    color: white;
    background: black;
}
.button{
    clear: both;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    text-align: center;
}
.button form{
    display: inline-block;
    margin: 0;
    padding:0;
}
.button input{
    font-size: 18px;
    outline: none;
    margin: 1% 2%;
    padding: 5px 10px;
    background-color: white;
    border: 2px solid #a3d2a3;
    border-radius: 20px;
    transition: .2s;
    /*display: inline-block;*/
    cursor:pointer;
}
.button input:hover {
    color: white;
    background-color: black;
}
/*
.hide{
    display: none;
}
.show{
    display: block;
}*/
